<!DOCTYPE html>
<html>
<head>
	<title>Websocket Demo</title>
	<style>
		#messages { border: dotted 1px #444444; font: 12px arial,sans-serif; }
		#messages > p { padding: 0px; margin: 0px; }
	</style>
	<script>
		/*https://gist.github.com/tanmaykm/5111225*/
		var messages, form, inputBox;
		
		function log_msg(msg) {
			var p = document.createElement("p");
			p.innerHTML = msg;
			messages.appendChild(p);
		}
		
		function doInit() {
			inputBox = document.getElementById("message");
			messages = document.getElementById("messages");
			form = document.getElementById("form");
	 		var ws;
			try {
				/*var host = "ws://localhost:4545/";
				if(window.location.hostname) { host = "ws://" + window.location.hostname + ":4545/"; }*/
				
				ws = new WebSocket('ws://' + document.domain + ':' + location.port + '/api/ws/{{__name__}}');
				
				ws.onopen = function (e) { log_msg('Connected...'); };
				ws.onclose = function (e) { log_msg('Connection closed.'); };
				ws.onerror = function (e) { log_msg('Connection error.'); };
				ws.onmessage = function (e) { log_msg('Message: ' + e.data); };
			} catch (ex) { log_msg('Connection exception:' + ex); }
	 
			form.addEventListener('submit', function (e) {
				e.preventDefault();
				ws.send(inputBox.value);
				inputBox.value = '';
			}, false);
		}
	</script>
</head>
<body onload="doInit()">
	<form id="form">
		<input type="text" id="message">
		<button type="submit">Send</button>
	</form>
	<br/>
	<div id="messages"></div> 
</body>
</html>
