<html>
  <head>
    <title>Custom APIs for Twitch.tv</title>
  </head>
  <body>
    <h2><strong>Wrappers available</strong><br /></h2>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
      .tg .tg-us36{border-color:inherit;vertical-align:top}
      .tg .tg-gmla{font-size:16px;border-color:inherit;text-align:center;vertical-align:top}
      .tg .tg-lvth{font-size:16px;text-align:center;vertical-align:top}
      .tg .tg-yw4l{vertical-align:top}
    </style>
    <table class="tg">
      <tr>
        <th class="tg-gmla"><span style="font-weight:bold">Action</span></th>
        <th class="tg-gmla"><span style="font-weight:bold">Description</span></th>
        <th class="tg-gmla"><span style="font-weight:bold">URL</span></th>
        <th class="tg-lvth"><span style="font-weight:bold">Option 1</span></th>
        <th class="tg-lvth"><span style="font-weight:bold">Option 2</span></th>
        <th class="tg-lvth"><span style="font-weight:bold">Option 3</span></th>
        <th class="tg-lvth"><span style="font-weight:bold">Option 4</span></th>
      </tr>
      <tr>
        <td class="tg-us36">Current Match</td>
        <td class="tg-us36">All players rank in a live match</td>
        <td class="tg-us36">{{ url_for("getCurrentMatch", _external=True) }}</td>
        <td class="tg-yw4l">?player=IGN</td>
        <td class="tg-yw4l">&amp;platform=PLATFORM</td>
        <td class="tg-yw4l">&amp;language=EN</td>
        <td class="tg-yw4l"></td>
      </tr>
      <tr>
        <td class="tg-yw4l">Decks</td>
        <td class="tg-yw4l">Decks of a champion</td>
        <td class="tg-us36">http://nonsocial.herokuapp.com/api/decks</td>
        <td class="tg-yw4l">?player=IGN</td>
        <td class="tg-yw4l">&amp;champion=CHAMPION</td>
        <td class="tg-yw4l">&amp;platform=PLATFORM</td>
        <td class="tg-yw4l">&amp;language=EN</td>
      </tr>
      <tr>
        <td class="tg-yw4l">KDA</td>
        <td class="tg-yw4l">KDA of a player or champion</td>
        <td class="tg-us36">{{ url_for("getWinrate", _external=True) }}</td>
        <td class="tg-yw4l">?player=IGN</td>
        <td class="tg-yw4l">&amp;champion=CHAMPION</td>
        <td class="tg-yw4l">&amp;platform=PLATFORM</td>
        <td class="tg-yw4l">&amp;language=EN</td>
      </tr>
      <tr>
        <td class="tg-yw4l">Last Match</td>
        <td class="tg-yw4l">Info about the last played match</td>
        <td class="tg-us36">{{ url_for("getLastMatch", _external=True) }}</td>
        <td class="tg-yw4l">?player=IGN</td>
        <td class="tg-yw4l">&amp;platform=PLATFORM</td>
        <td class="tg-yw4l">&amp;language=EN</td>
        <td class="tg-yw4l"></td>
      </tr>
      <tr>
        <td class="tg-yw4l">Rank</td>
        <td class="tg-yw4l">Currently rank of a specified player</td>
        <td class="tg-us36">{{ url_for("getRank", _external=True) }}</td>
        <td class="tg-yw4l">?player=IGN</td>
        <td class="tg-yw4l">&amp;platform=PLATFORM</td>
        <td class="tg-yw4l">&amp;anguage=EN</td>
        <td class="tg-yw4l"></td>
      </tr>
      <tr>
        <td class="tg-yw4l">Server</td>
        <td class="tg-yw4l">Currently status of Paladins Server</td>
        <td class="tg-us36">{{ url_for("getGameVersion", _external=True) }}</td>
        <td class="tg-yw4l">?platform=PLATFORM</td>
        <td class="tg-yw4l">&amp;language=EN</td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
      </tr>
      <tr>
        <td class="tg-yw4l">Stalk</td>
        <td class="tg-yw4l">Currently online status of a specified player</td>
        <td class="tg-us36">{{ url_for("getStalk", _external=True) }}</td>
        <td class="tg-yw4l">?player=IGN</td>
        <td class="tg-yw4l">&amp;platform=PLATFORM</td>
        <td class="tg-yw4l">&amp;language=EN</td>
        <td class="tg-yw4l"></td>
      </tr>
    </table>
    <h2><strong>NIGHTBOT CUSTOM API</strong><br /></h2>
    <strong>Example</strong>: !addcom !rank $(customapi {{ url_for("getRank", _external=True) }}?player=FeyRazzle&amp;platform=PC&amp;language=EN)
    <br /><br />
    <strong>Current match:</strong> !addcom !currentmatch $(customapi {{ url_for("getCurrentMatch", _external=True) }}?player=FeyRazzle&amp;platform=PC&amp;language=EN)
    <br /><br /><br />

    <h2><strong>DEEPBOT CUSTOM API</strong><br /></h2>
    <strong>Example</strong>: !addcmd !rank @customapi@[{{ url_for("getRank", _external=True) }}?player=FeyRazzle&amp;platform=PC&amp;language=EN]<br />

    <h2><strong>STREAM ELEMENTS CUSTOM API</strong><br /></h2>
    <strong>Example</strong>: !command add !rank ${customapi.{{ url_for("getRank", _external=True) }}?player=FeyRazzle&amp;platform=PC&amp;language=EN} <br />

    <h2><strong>STREAMLABS CHATBOT / ANKHBOT CUSTOM API</strong><br /></h2>
    <strong>Example</strong>: !command add !rank $readapi({{ url_for("getRank", _external=True) }}?player=FeyRazzle&amp;platform=PC&amp;language=EN)<br />
  </body>
</html>
