alembic==1.0.8
Mako==1.0.8
python-dateutil==2.8.0
python-editor==1.0.4
six==1.12.0
gunicorn==19.9.0
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Migrate==2.2.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pip==19.0.3
python-decouple==3.1
psycopg2-binary==2.7.7
psycopg2==2.7.7
requests==2.21.0
requests-aeaweb==0.0.1
setuptools==40.4.3
SQLAlchemy==1.2.11
urllib3==1.23
Werkzeug==0.14.1
-e git+https://github.com/luissilva1044894/pyrez.git@master#egg=Pyrez
