alembic==1.0.10
six==1.12.0
gunicorn==19.9.0
beautifulsoup4==4.7.1
Flask==1.0.3
Flask-Migrate==2.5.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
MarkupSafe==1.1.1
python-decouple==3.1
psycopg2-binary==2.8.2
-e git+https://github.com/luissilva1044894/pyrez.git@master#egg=pyrez
