git+https://gitlab.com/luissilva1044894/pyrez.git
gunicorn==19.7.1
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pip==18.1
python-decouple==3.1
requests==2.19.1
requests-aeaweb==0.0.1
setuptools==40.4.3
urllib3==1.23
Werkzeug==0.14.1
