{% extends "layout.html" %}

{% block content %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <!--<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>-->
  <script type="application/javascript">
    function strip(html){ return new DOMParser().parseFromString(html, 'text/html').body.textContent || ""; }
    var ws;// = new WebSocket('wss://localhost:8785');
    function connect() {
      if (typeof ws === 'undefined') {
        try {
          // Support TLS-specific URLs, when appropriate.
          var ws_scheme = window.location.protocol == 'https:' ? 'wss://' : 'ws://';

          ws = new WebSocket(ws_scheme + document.domain + ':8785');//document.domain + ':' + location.port
          ws.onopen = function (e) {
            ws.send('list_info');
            $('#settings dl').append('<dt>Prefix</dt><div id="prefix"></div>');
            $('#settings dl').append('<dt>Admin Role</dt><div id="admin-role"></div>');
            $('#settings dl').append('<dt>Mod Role</dt><div id="mod-role"></div>');
            $('#settings dl').append('<dt>Logged in?</dt><div id="logged-in"></div></dl>');
          };
          ws.onmessage = function (e) {
            bot = JSON.parse(e.data);
            console.log(bot);
          };
          /*ws.onclose = function (e) { waitForElement(); };*/
          /*ws.onerror = function (e) { waitForElement(); };*/
        }
        catch (ex) {
          setTimeout(connect, 250);
          $('#settings dl').html('');
        }
      }
    }
    function waitForElement() {
      if (typeof ws === 'undefined') { connect(); }
      if (typeof bot !== 'undefined') {
        // The bot is received and ready
        // document.write(JSON.stringify(bot, null, 2))
        $('#bot-name').append('<h1>' + bot.connection.user.name.replace('<', '').replace('>', '') + '</h1>');
        var propValue;
        for (propName in bot.cogs) {
          //$('#cogs ul').append('<li>' + bot.cogs[propName] + '</li>');
          descr = bot.cogs[propName].name + ' - ' + bot.cogs[propName].doc;
          for (x in bot.cogs[propName].cmds) { descr += '<br/> > ' +   bot.cogs[propName].cmds[x]; }
          $('#cogs ul').append('<li>' + descr + '</li>');
          descr = '';
        }
        for (propName in bot.commands) {
          propValue = bot.commands[propName];
          $('#commands dl').append('<dt>' + propName + '</dt>');
          $('#commands dl').append('<dd>' + propValue + '</dd>');
        }
        for (var propName in bot.connection._servers) {
          propValue = bot.connection._servers[propName];
          $('#servers ul').append('<li>' + propValue + '</li>');
        }
        $('#prefix').html('<dd>' + bot.settings.bot_settings.PREFIXES['0'] + '</dd>');
        $('#admin-role').html('<dd>' + bot.settings.bot_settings.default.ADMIN_ROLE + '</dd>');
        $('#mod-role').html('<dd>' + bot.settings.bot_settings.default.MOD_ROLE + '</dd>');
        $('#logged-in').html('<dd>' + bot._is_logged_in._value + '</dd>');
      } else { setTimeout(waitForElement, 250); }
    }
    $(document).ready(waitForElement());
    </script>
    <style type="text/css">
      /* General styles */
      html { font-family: Helvetica, Arial, sans-serif; font-size: 10px; }
      h2 { font-size: 2rem; }
      ul, ol, dl, p { font-size: 1.5rem; }
      li, p { line-height: 1.5; }

      /* Description list styles */
      dd, dt { line-height: 1.5; }
      dt { font-weight: bold; }
      dd { background: none no-repeat left top; padding-left: 50px; margin-bottom: 1.5rem; }
    </style>
</head>

<body>
  <div id='bot-name' class='title'>
  </div>
  <div id='cogs'>
    <h2 class='list-heading'>Cogs</h2>
    <ul></ul>
  </div>
  <div id='commands'>
    <h2 class='list-heading'>Commands</h2>
    <dl></dl>
  </div>
  <div id='servers'>
    <h2 class='list-heading'>Servers</h2>
    <ul></ul>
  </div>
  <div id='settings'>
    <h2 class="list-heading">Settings</h2>
    <dl>
    </dl>
  </div>
{% endblock content %}
