<!-- "Parent Template" -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 minimal-ui">
  <meta name="keywords" content="twitch, api, nonsocial, pyrez, hirez, hi-rez, rank, customapi, nightbot, botisimo, stream elements, streamlabs, chatbot, custom, commands, comandos, personalizado, streamer, paladins, champions of the realm, paladins game, champions, master, trends, player, guru, meta, discord, stats, statistics, tp, bot, app">
  <meta name="author" content="Nonsocial">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="defaultLanguage" content="en">
  <meta name="availableLanguages" content="en, pt, pt-br, es, pl">
  <meta name="theme-color" content="black">
  <meta name="msapplication-navbutton-color" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css">
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="container">
    <section id="sticky-notifications" class="stick-to-top js-stick-to-top">
      <!-- Add browser warning. Will show for ie9 and below -->
      <!--[if IE]>
        <div class="notification-bar notification-bar-danger">
          <h3>
            <span class="notification-bar__icon">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <span class="sr-only">{% block warning_unsupported_msg_title %}{% endblock %}:</span>
            </span>
            <span class="notification-bar__message">{% block warning_unsupported_msg_bar %}{% endblock %}</span>
          </h3>
        </div>
      <![endif]-->
      <noscript>
        <div class="notification-bar notification-bar-danger">
          <h3>
            <span class="notification-bar__icon">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <span class="sr-only">{% block warning_nojs_msg_title %}{% endblock %}:</span>
            </span>
            <span class="notification-bar__message">{% block warning_nojs_msg_bar %}{% endblock %}</span>
          </h3>
        </div>
      </noscript>
    </section>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="flashes" class="list-unstyled">
          {% for message in messages %}
            <li class="alert alert-success"><strong>{{ message }}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {{ translate("ERROR_404") }}
    <br/><br/><br/>
    {{ translate("ERROR_500") }}

    <!--<strong>Want to support this, help with server costs, development time, etc?</strong><br/>
    <a href="https://www.patreon.com/bePatron?u=14686910" data-patreon-widget-type="become-patron-button" aria-hidden="true" class="nav-link waves-effect" title="Support me · Patreon" target="_blank">Become a Patron!</a><br/><br/>-->

    {% block body %}{% endblock %}
  </div>

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!--<script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>-->
  <script>
    function toggleDarkLight() {
      // https://codepen.io/HarlemSquirrel/pen/NdMebZ
      var body = getElementById("body");
      body.className = body.className == "dark-mode" ? "light-mode" : "dark-mode";
    }
    $(document).ready(function() {
      if(ClipboardJS.isSupported()) {
        var clipboard = new ClipboardJS(".copy-to-clip-button");
        clipboard.on("success", function(e) {
          addAlert(getTranslatedString("{{ lang }}", "copyToClipboardSuccess"), "alert-success", true, true, "#result-warning", "{{ lang }}");
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);
          e.clearSelection();
        });
        clipboard.on("error", function(e) {
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });
      }
    });
    
    {% block scripts %}{% endblock %}
  </script>
</body>
</html>

