
{% extends 'baseIndex.html' %}

{% block languague %}pt{% endblock %}

{% block title %}Comandos para Twitch{% endblock %}

{% block metacontent %}FlaskPyrezAPI é um endpoint open-source de comandos para Twitch, escrito em Python, que manipula dados sobre jogadores, partidas e outras estatísticas do jogo Paladins. Esta API usa Pyrez para se conectar e requisitar dados à API da Hi-Rez Studios.{% endblock %}

{% block navbard_title %}Paladins Endpoints{% endblock %}


{% block commands_table_titles_title %}Wrappers available{% endblock %}

{% block commands_table_titles_action %}Comando{% endblock %}
{% block commands_table_titles_desc %}Descrição{% endblock %}
{% block commands_table_titles_url %}Link{% endblock %}
{% block commands_table_titles_option1 %}Opção 1{% endblock %}
{% block commands_table_titles_option2 %}Opção 2{% endblock %}
{% block commands_table_titles_option3 %}Opção 3{% endblock %}
{% block commands_table_titles_option4 %}Opção 4{% endblock %}

{% block commands_table_contents_currentmatch %}Partida{% endblock %}
{% block commands_table_contents_currentmatch_desc %}Mostra os ranks dos jogadores em uma partida{% endblock %}
{% block commands_table_contents_currentmatch_ign %}JOGADOR{% endblock %}
{% block commands_table_contents_currentmatch_plat %}PLATAFORMA{% endblock %}
{% block commands_table_contents_currentmatch_lang %}PT{% endblock %}

{% block commands_table_contents_decks %}Decks{% endblock %}
{% block commands_table_contents_decks_desc %}Baralhos de um campeão{% endblock %}
{% block commands_table_contents_decks_ign %}JOGADOR{% endblock %}
{% block commands_table_contents_decks_champ %}CAMPEÃO{% endblock %}
{% block commands_table_contents_decks_plat %}PLATAFORMA{% endblock %}
{% block commands_table_contents_decks_lang %}PT{% endblock %}

{% block commands_table_contents_winrate %}KDA{% endblock %}
{% block commands_table_contents_winrate_desc %}KDA de um jogador ou campeão{% endblock %}
{% block commands_table_contents_winrate_ign %}JOGADOR{% endblock %}
{% block commands_table_contents_winrate_champ %}CAMPEÃO{% endblock %}
{% block commands_table_contents_winrate_plat %}PLATAFORMA{% endblock %}
{% block commands_table_contents_winrate_lang %}PT{% endblock %}

{% block commands_table_contents_lastmatch %}Última partida{% endblock %}
{% block commands_table_contents_lastmatch_desc %}Informações sobre a última partida jogada{% endblock %}
{% block commands_table_contents_lastmatch_ign %}JOGADOR{% endblock %}
{% block commands_table_contents_lastmatch_plat %}PLATAFORMA{% endblock %}
{% block commands_table_contents_lastmatch_lang %}PT{% endblock %}

{% block commands_table_contents_rank %}Rank{% endblock %}
{% block commands_table_contents_rank_desc %}O rank atual de um jogador{% endblock %}
{% block commands_table_contents_rank_ign %}JOGADOR{% endblock %}
{% block commands_table_contents_rank_plat %}PLATAFORMA{% endblock %}
{% block commands_table_contents_rank_lang %}PT{% endblock %}

{% block commands_table_contents_version %}Server{% endblock %}
{% block commands_table_contents_version_desc %}Status do servidor do Paladins{% endblock %}
{% block commands_table_contents_version_plat %}PLATAFORMA{% endblock %}
{% block commands_table_contents_version_lang %}PT{% endblock %}

{% block commands_table_contents_stalk %}Stalk{% endblock %}
{% block commands_table_contents_stalk_desc %}Status sobre um jogador{% endblock %}
{% block commands_table_contents_stalk_ign %}JOGADOR{% endblock %}
{% block commands_table_contents_stalk_plat %}PLATAFORMA{% endblock %}
{% block commands_table_contents_stalk_lang %}PT{% endblock %}

{% block commands_generator_cmdname %}Nome do comando{% endblock %}
{% block commands_generator_cmdtype %}Comando{% endblock %}
{% block commands_generator_cmdcd %}Cooldown{% endblock %}
{% block commands_generator_paladinsign %}Jogador{% endblock %}
{% block commands_generator_paladinschamp %}Nome do campeão{% endblock %}
{% block commands_generator_paladinsplat %}Plataforma{% endblock %}
{% block commands_generator_cmdlang %}Idioma{% endblock %}
{% block commands_generator_chatbot %}Bot{% endblock %}
{% block commands_generator_chatbotuseraccess %}User Access{% endblock %}

{% block commands_generator_cmdname_placeholder %}partida{% endblock %}
{% block commands_generator_cmdname_title %}Nome do comando (sem !){% endblock %}

{% block commands_generator_cmdtype_cmdcurrentmatch %}partida{% endblock %}
{% block commands_generator_cmdtype_cmdwinrate %}winrate{% endblock %}
{% block commands_generator_cmdtype_cmddecks %}decks{% endblock %}
{% block commands_generator_cmdtype_cmdlastmatch %}lastmatch{% endblock %}
{% block commands_generator_cmdtype_cmdrank %}rank{% endblock %}
{% block commands_generator_cmdtype_cmdserver %}server{% endblock %}
{% block commands_generator_cmdtype_cmdstalk %}stalk{% endblock %}

{% block commands_generator_langs_order %}
                <option value="PT">Português</option>
                <option value="EN">English</option>
                <option value="ES">Español</option>
                <option value="PL">Polish</option>
{% endblock %}

{% block commands_generator_usercanuse %}Viewers podem olhar suas contas{% endblock %}

{% block commands_generator_userlvl_everybody %}Todos{% endblock %}
{% block commands_generator_userlvl_regular %}Regulares{% endblock %}
{% block commands_generator_userlvl_subscriber %}Subs{% endblock %}
{% block commands_generator_userlvl_mod %}Mods{% endblock %}
{% block commands_generator_userlvl_owner %}Streamer{% endblock %}

{% block commands_generator_generatebtn %}Gerar{% endblock %}
{% block commands_generator_paramslang %}pt{% endblock %}
{% block commands_generator_datalang %}pt{% endblock %}
