
{% extends 'index.html' %}

{% block title %}Custom APIs para Twitch · Generador de comandos{% endblock %}

{% block metacontent %}FlaskPyrezAPI es un endpoint de código abierto para comandos de Twitch, escrito en Python, que proporciona datos sobre jugadores, partidas y otras estadísticas del juego Paladins. Esta API usa Pyrez para manejar conexiones y solicitudes a la API de Hi-Rez Studios.{% endblock %}

{% block navbard_title %}Paladins Endpoints{% endblock %}

{% block header_titles_github %}Repositorio · Github{% endblock %}
{% block header_titles_twitch %}Twitch · Nonsocial{% endblock %}
{% block header_titles_discord %}Discord Server{% endblock %}
{% block header_titles_pastebin %}Pastebin Sample{% endblock %}

{% block commands_table_titles_title %}Lista de comandos{% endblock %}

{% block commands_table_titles_action %}Acción{% endblock %}
{% block commands_table_titles_desc %}Descripción{% endblock %}
{% block commands_table_titles_url %}URL{% endblock %}
{% block commands_table_titles_option1 %}Opción 1{% endblock %}
{% block commands_table_titles_option2 %}Opción 2{% endblock %}
{% block commands_table_titles_option3 %}Opción 3{% endblock %}
{% block commands_table_titles_option4 %}Opción 4{% endblock %}

{% block commands_table_contents_currentmatch %}Partida actual{% endblock %}
{% block commands_table_contents_currentmatch_desc %}Todos los rank del jugadores en una partida{% endblock %}
{% block commands_table_contents_currentmatch_ign %}IGN{% endblock %}
{% block commands_table_contents_currentmatch_plat %}PLATFORM{% endblock %}

{% block commands_table_contents_decks %}Decks{% endblock %}
{% block commands_table_contents_decks_desc %}Decks de un campeón{% endblock %}
{% block commands_table_contents_decks_ign %}IGN{% endblock %}
{% block commands_table_contents_decks_champ %}CHAMPION{% endblock %}
{% block commands_table_contents_decks_plat %}PLATFORM{% endblock %}

{% block commands_table_contents_winrate %}KDA{% endblock %}
{% block commands_table_contents_winrate_desc %}KDA de un jugador o campeón{% endblock %}
{% block commands_table_contents_winrate_ign %}IGN{% endblock %}
{% block commands_table_contents_winrate_champ %}CHAMPION{% endblock %}
{% block commands_table_contents_winrate_plat %}PLATFORM{% endblock %}

{% block commands_table_contents_lastmatch %}Última partida{% endblock %}
{% block commands_table_contents_lastmatch_desc %}Información sobre la última partida jugada{% endblock %}
{% block commands_table_contents_lastmatch_ign %}IGN{% endblock %}
{% block commands_table_contents_lastmatch_plat %}PLATFORM{% endblock %}

{% block commands_table_contents_rank %}Rank{% endblock %}
{% block commands_table_contents_rank_desc %}Rank actual de un jugador específico{% endblock %}
{% block commands_table_contents_rank_ign %}IGN{% endblock %}
{% block commands_table_contents_rank_plat %}PLATFORM{% endblock %}

{% block commands_table_contents_version %}Server{% endblock %}
{% block commands_table_contents_version_desc %}Estado actual del servidor Paladins{% endblock %}
{% block commands_table_contents_version_plat %}PLATFORM{% endblock %}

{% block commands_table_contents_stalk %}Stalk{% endblock %}
{% block commands_table_contents_stalk_desc %}Estado actual en línea de un jugador específico{% endblock %}
{% block commands_table_contents_stalk_ign %}IGN{% endblock %}
{% block commands_table_contents_stalk_plat %}PLATFORM{% endblock %}

{% block commands_generator_cmdname %}Nombre del comando{% endblock %}
{% block commands_generator_cmdtype %}Comando{% endblock %}
{% block commands_generator_cmdcd %}Cooldown{% endblock %}
{% block commands_generator_paladinsign %}Paladins IGN{% endblock %}
{% block commands_generator_paladinsplat %}Platform{% endblock %}
{% block commands_generator_cmdlang %}Idioma{% endblock %}
{% block commands_generator_chatbot %}Bot{% endblock %}
{% block commands_generator_chatbotuseraccess %}User Access{% endblock %}

{% block commands_generator_cmdname_placeholder %}currentmatch{% endblock %}
{% block commands_generator_cmdname_title %}Nombre de comando (sin!){% endblock %}
{% block commands_generator_player_name_title %}Nombre del jugador · Paladins{% endblock %}
{% block commands_generator_player_name_placeholder %}Saadhak{% endblock %}

{% block commands_generator_cmdtype_cmdcurrentmatch %}currentmatch{% endblock %}
{% block commands_generator_cmdtype_cmdwinrate %}winrate{% endblock %}
{% block commands_generator_cmdtype_cmddecks %}decks{% endblock %}
{% block commands_generator_cmdtype_cmdlastmatch %}lastmatch{% endblock %}
{% block commands_generator_cmdtype_cmdrank %}rank{% endblock %}
{% block commands_generator_cmdtype_cmdserver %}server{% endblock %}
{% block commands_generator_cmdtype_cmdstalk %}stalk{% endblock %}

{% block commands_generator_langs_order %}
                <option title="English" value="EN">English 🇺🇸</option>
                <option title="Spanih" value="ES" selected="selected">Español 🇪🇸</option>
                <option title="Polish" value="PL">Polski 🇵🇱</option>
                <option title="Portuguese" value="PT">Português 🇧🇷</option>
{% endblock %}

{% block commands_generator_usercanuse %}Los espectadores también pueden verificar sus propias estadísticas{% endblock %}

{% block commands_generator_userlvl_everybody %}Everybody{% endblock %}
{% block commands_generator_userlvl_regular %}Regular{% endblock %}
{% block commands_generator_userlvl_subscriber %}Subscriber{% endblock %}
{% block commands_generator_userlvl_mod %}Mod{% endblock %}
{% block commands_generator_userlvl_owner %}Owner{% endblock %}

{% block commands_generator_generatebtn %}Generar{% endblock %}

{% block warning_unsupported_msg_bar %}Está utilizando un navegador no compatible, actualice a una versión más reciente.{% endblock %}
{% block warning_unsupported_msg_title %}Advertencia {% endblock %}

{% block warning_nojs_msg_bar %}Es posible que algunas funciones no funcionen sin JavaScript. Intenta habilitarlo si encuentras problemas.{% endblock %}
{% block warning_nojs_msg_title %}Advertencia {% endblock %}

{% block footer_createby %}Hecho con ❤️ por{% endblock %}
{% block footer_github %}Código fuente disponible en{% endblock %}
{% block footer_copyright %}Todos los derechos a sus respectivos dueños.{% endblock %}
{% block footer_hi_rez_copyright %}Datos proporcionados por. © 2020 Hi-Rez Studios, Inc.{% endblock %}
