<!-- "Child Template" -->
{% extends "base.html" %}
{% block title %} {{ my_name }} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}

  {% if _json['HTML']['CMD_TABLE'] %}
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#cmd-tbl"><strong>{{ _json['HTML']['CMD_TABLE']['BUTTTON'] }}</strong></button><br/>
        <div id="cmd-tbl" class="collapse">
        	<table class="tg">
        		<thead class="thead-light">
        			<tr>
        				{% for title in _json['HTML']['CMD_TABLE']['TITLES'] %}
        					<th class="tg-gmla"><span>{{ title }}</span></th>
        				{% endfor %}
        			</tr>
        		</thead>
        		<tbody>
        			{% for _ in range(_json['HTML']['CMD_TABLE'][my_name] | length) %}
        			<tr>
        				{% for __ in _json['HTML']['CMD_TABLE'][my_name][_] %}
        					<td class="tg-us36">{{ __ }}</td>
        				{% endfor %}
        			</tr>
        			{% endfor %}
        		</tbody>
        	</table>
        </div>
  {% endif %}
  
{% endblock %}

{% block scripts %}
    function get_translated_string(msg) {
      var arr_msgs = [];
      arr_msgs["chat_msg"] = "{{ _json['HTML']['JS']['CHAT_MSG'] }}";
      arr_msgs["dont_change"] = "{{ _json['HTML']['JS']['DONT_CHANGE'] }}";
      arr_msgs["backend_msg"] = "{{ _json['HTML']['JS']['BACKEND_MSG'] }}";
      arr_msgs["close"] = "{{ _json['HTML']['JS']['CLOSE'] }}";
      arr_msgs["cmd_created"] = "{{ _json['HTML']['JS']['CMD_CREATED'] }}";
      arr_msgs["invalid_cmd_name"] = "{{ _json['HTML']['JS']['INVALID_CMD_NAME'] }}";
      arr_msgs["invalid_player_name"] = "{{ _json['HTML']['JS']['INVALID_PLAYER_NAME'] }}";
      arr_msgs["copy_to_clipboard_success"] = "{{ _json['HTML']['JS']['COPY_TO_CLIPBOARD_SUCCESS'] }}";
      arr_msgs["copy_to_clipboard_msg"] = "{{ _json['HTML']['JS']['COPY_TO_CLIPBOARD_MSG'] }}";
      return arr_msgs[msg];
    }
{% endblock %}
